<div class="forms-wrap">
  
  <div class="form-container">
    <form class="form" novalidate #regForm="ngForm" (ngSubmit)="onRegistred(regForm)">
      <p>FormModule</p>
      <p>Binding ngModel and ngModelGroup</p>
      <div class="input-wrap">
        <div ngModelGroup="fullname">
          <mat-form-field appearance="fill">
            <mat-label>Имя</mat-label>
            <input [ngModel]='regFormFirstname' type="text" matInput name="first">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Фамилия</mat-label>
            <input [ngModel]="regFormLastname" type="text" matInput name="last">
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Почта</mat-label>
          <input [ngModel]="regFormdEmail" type="email" matInput name="email">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>login</mat-label>
          <input validate-login type="login" matInput name="login">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Пароль</mat-label>
          <input ngModel #password="ngModel" type="password" matInput name=password required>
        </mat-form-field>
      </div>
      <button mat-button [disabled]="!regForm.valid"> Регистрация </button>
    </form>

    <p>form2.value: {{regForm.value | json }}</p>
    <p>form.status: {{regForm.status | json }}</p>
    <p>form password status: {{ password.status | json }}</p>
  </div>
</div>