<nav class="navigation-container">
  <div class="navigation">
    <div class="navigation-wrap">
      <ul>
        <li *ngFor="let nav of navList; trackBy:trackByNav" [ngClass]="nav.active ? 'active':''">
          <a [routerLink]="[ nav.link ]" (mouseenter)="isEnterNav(nav)" (mouseleave)="isLeaveNav(nav)" (click)="isActiveNav(nav)">
            <span [innerHTML]="nav.icon ? getSVG(nav.icon) : defaultIcon()" class="icon"></span>
            <span class="text">{{nav.name}}</span>
          </a>
        </li>
        <div class="indicator"></div>
      </ul>
    </div>
  </div>
</nav>