<h2>Condition</h2>

<h3>NgIf</h3>
<div *ngFor="let item of list;trackBy:trackBy">
  <div [class]="item.class" [attr.data-id]="item.id" [hidden]="!item.show">
    <span *ngIf="item.mounting">{{ item.title }}</span>
    <button type="button" (click)="didMount(item)">
      DidMount
    </button>
  </div>
</div>

<h3>SwitchCase</h3>
<span *ngFor="let item of list;trackBy:trackBy" [ngSwitch]="item.show">
  <p *ngSwitchCase="true">
    <span [class]="item.class">{{ item.title }}</span>
  </p>
  <p *ngSwitchCase="false">
    <span [class]="item.class">show false</span>
  </p>
  <p *ngSwitchDefault>
    <span [class]="item.class">Show null</span>
  </p>
</span>