<ng-template #binding>
  <h2>Binding</h2>

  <h3>Binding SHOW NGIF DidMounting</h3>
  <button class="form_input" (click)="expression=!expression"> SHOW NGIF</button>
  <div class="">hello World</div>
  <button class="form_input" (click)="expression=!expression"> HIDDEN NGIF</button>
  
  <h3>ng-template and ng-container, *ngTemplateOutlet,$implici</h3>
  <div class="">
    <div [hidden]="!isShowAngular">binding angular method hidden</div>
    <button class="form_input" (click)="isShowAngular=!isShowAngular"> Hidden </button>
  </div>
  
  <button class="form_input"  (click)="onInput($event)">onInput</button>
</ng-template>