<form (ngSubmit)="todoRef ? onUpdate(form): onSubmit(form)" #form="ngForm"
  class="todo-form">
  <div ngModelGroup="ngModelGroup" class="input-wrap-todo">
    <mat-form-field appearance="fill">
      <mat-label>Заголовок</mat-label>
      <input ngModel name="title" matInput [value]="todoRef ? todoRef.title: '' ">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Описание заметки</mat-label>
      <textarea ngModel name="description" matInput [value]="todoRef? todoRef.description: ''"></textarea>
    </mat-form-field>

  </div>
  <button mat-flat-button type="submit" [disabled]="!form.form.valid">{{todoRef ? 'Изменить заметку' :'Добавить заметку'}}</button>
</form>