<h4>Binding link #textInput, get and delete request,Route </h4>

<div class="user_list">
  <div class="user_list_wrap">
    <div loader-directive *ngFor="let user of userState.users ; index as index; trackBy:trackByUser" class="user_card" [id]="user.id">
      <p>user id: {{user.id}}</p>
      <p>user name: {{user.fullname.first}}</p>
      <p>user name: {{user.email}}</p>
      <a [routerLink]="['user-details', user.id]" [queryParams]='{email:user.email}' routerLinkActive="router-link-active">Open detail user</a>
    </div>
  </div>
  <button (click)="nextPage()" [disabled]="!userState.nextPage" class='button_pagination'>Pagination</button>
</div>