<mat-tab-group>
    <mat-tab label="binding">
      <app-binding></app-binding>
    </mat-tab>
    <mat-tab label="ngif">
      <app-ngIf></app-ngIf>
    </mat-tab>
    <mat-tab label="ngFor">
      <app-ngFor></app-ngFor>
    </mat-tab>
    <mat-tab label="decoration">
      <app-life-cycle>
        <app-decorator-wrap>
          <app-decoration></app-decoration>
        </app-decorator-wrap>
      </app-life-cycle>
    </mat-tab>
    <mat-tab label="templates">
      <app-templates></app-templates>
    </mat-tab>
</mat-tab-group>