html, body { height: 100%; }

body { 
    margin: 0;
    font-family: Roboto,"Helvetica Neue", sans-serif;
    background-position: 0 0;
    background: #393939;
}
  
h2 {
    text-align: center;
    color: white;
}
div {
    color: white;
}
