html, body { height: 100%; }

body { 
    margin: 0;
    font-family: Roboto,"Helvetica Neue", sans-serif;
    background-position: 0 0;
    background: #393939;
}
  
h2 {
    text-align: center;
    color: white;
}
div {
    color: white;
}
// .root .mat-tab-group {
//     flex-direction: row;
//     height: 100%;
//     max-width: 100%;
//     .mat-tab-header {
//         max-height: 40px;
//         max-width: 40px;
//         border-radius: 50%;
//         background: linear-gradient(0deg, #4fbfc1 3%, rgba(133, 202, 112, 1) 36%, #a8d13c 79%);
//         transition: all 0.5s ease-in-out;
//         .mat-tab-header-pagination-before {
//             display: flex;
//         }
//         .mat-tab-header-pagination-after {
//             display: none;
//         }
//         &:hover {
//             max-width: max-content;
//             max-height: 100%;
//             border-radius: 0%;
//             .mat-tab-labels {
//                 text-align: left;
//                 max-width: max-content;
//             }
//             .mat-tab-label {
//                 text-align: left;
//                 justify-content: flex-start;
//                 .mat-tab-label-content {
//                     max-width: max-content;
//                 }
//             }
//             .mat-tab-header-pagination-before {
//                 display: none;
//             }
//         }
//     }
// }

// .mat-tab-labels {
//     flex-direction: column;
//     max-width: 50px;
//     transition: all 0.5s linear;
// }
// .mat-tab-label {
//     .mat-tab-label-content {
//         text-overflow: ellipsis;
//         white-space: nowrap;
//         overflow: hidden;
//         max-width: 50px;
//     }
// }
// .mat-tab-body {
//     padding: 0 20px;
// }
// .mat-tab-body-wrapper {
//     width: 100%;
//     height: max-content;
// }
// .mat-tab-label-container {
//     .mat-tab-label-active {
//         opacity: 1;
//     }
//     .mat-ink-bar {
//         height: 0px;
//         background: none;
//     }
// }
