<h2>Templates</h2>

<h3>ng-content</h3>
<form action="">
    <ng-content></ng-content>
    <ng-content select=".btn_submit"></ng-content>
</form>

<h3>ng-template and ng-container, *ngTemplateOutlet,$implici</h3>
<ng-template #ref let-implicit let-year="year">
    <p>{{year}} template {{implicit}} </p>
</ng-template>
<ng-container *ngTemplateOutlet="ref;context:{year:2020,$implicit:'Hi world'}"></ng-container>

<h3>ng-container for ngIf and ngFor</h3>
<ng-container *ngIf="true">
    <p *ngFor="let number of [1,2,3,4,5]"> {{number}}</p>
</ng-container>

<h3>ng-container for context</h3>
<ng-container *ngTemplateOutlet="templateRef"></ng-container>