mat-toolbar{
    background: #4fbfc1;
}

.indicator{
    height:40px;
    width: 40px;
    background: linear-gradient(0deg, #4fbfc1 3%, rgba(133, 202, 112, 1) 36%, #a8d13c 79%);
    border-radius: 50%;
    margin-right: 50px;
}